<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person_id</title>
</head>
<body>
<p th:text="${person.getName()}"></p>
<p th:text="${person.getId()}"></p>
<p th:text="${person.getAge()}"></p>
<p th:text="${person.getEmail()}"></p>
<p th:text="${person.getAddress()}"></p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
<p th:text="${message}"></p>
</body>
</html>