<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publisher info</title>
</head>
<body>
<p th:text="${publisher.getPublisher_title()}"></p>
<hr>
<form th:method="GET" th:action="@{/publishers/{id}/edit(id=${publisher.getPublisher_id()})}">
    <input type="submit" value="Edit">
</form>
<br>
<form th:method="DELETE" th:action="@{/publishers/{id}/(id=${publisher.getPublisher_id()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>